body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
}
.container {
    padding: 40px;
}
h1 {
    color: #38bdf8;
}
button {
    background: #22c55e;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
}
button:hover {
    background: #16a34a;
}
.box {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 12px;
    text-align: left;
}
